<div class="body-container">
  <app-header></app-header>
  <main>
    <h1>Example Portfolio</h1>
    <div class="highlighted-paragraph">
      <h2>This is a highlighted paragraph</h2>
      <p>Highlighted paragraphs can have a lot of text 
        This is a highlighted paragraph 
        Highlighted paragraphs can have a lot of text 
        This is a highlighted paragraph 
        Highlighted paragraphs can have a lot of text 
        This is a highlighted paragraph 
        Highlighted paragraphs can have a lot of text 
        This is a highlighted paragraph 
        Highlighted paragraphs can have a lot of text 
        This is a highlighted paragraph 
      </p>
    </div>
    <p>
      This is a change I made after sucessfully deploying again!
    </p>
  </main>
  <app-footer></app-footer>
  <router-outlet></router-outlet>
</div>
